@import "colors";


$primary-color: black;
$secondary-color: yellow;
//Color usually used for accents like links.
$terciary-color: blue;

//Color used for the page's bg, ie. the <body> tag.
$background-color: dimgray;
//Color used for things like text, svg, etc.
$foreground-color: white;