// Imports
@use 'colors' as *;

@forward 'colors';

// Colors ------------------------------------------------------------------- //
$primary-color: black; // Good contrast against secondary
$secondary-color: yellow; // Good contrast against primary
$terciary-color: blue; // Accents like links, etc

$background-color: black; // Page's bg, ie. the <body> tag
$foreground-color: white; // Text, svg, etc.

// Shortforms
$primary: $primary-color;
$secondary: $secondary-color;
$terciary: $terciary-color;

$background: $background-color;
$foreground: $foreground-color;

$bg: $background-color;
$fg: $foreground-color;

// Breakpoints -------------------------------------------------------------- //
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
